<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<meta name="viewport" content="minimal-ui=yes,width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>{$title}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="Shortcut Icon" href="favicon.ico" />
<link rel="Bookmark" href="favicon.ico" />
<!-- header公共头 -->
<link href="/static/home/css/css.css?v=1" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/home/js/common.js?v=1"></script>

<!-- cart样式及css -->
<link href="/static/home/css/t.cart.css?v=1" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/home/js/t.cart.js?v=1"></script>

</head>
<body>
